In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

from sklearn.metrics.cluster import adjusted_rand_score

from pyclustering.cluster.kmeans import kmeans
from pyclustering.utils.metric import type_metric, distance_metric
from pyclustering.cluster.center_initializer import kmeans_plusplus_initializer

import time

In [2]:
def df2array(df):
    # 将数据以 ndarray 的形式读入内存
    # [[x1,x2,...,x500,y1,y2,...,y500],[],...]
    i = 0
    data = np.array([])
    while i <= len(df)-1:
        arr_x = np.array(df['x'][i:i+POINTS_NUM_PER_TR])
        arr_y = np.array(df['y'][i:i+POINTS_NUM_PER_TR])
        arr = np.append(arr_x,arr_y)
        if len(data)==0:
            data = np.array([arr])
        else:
            data = np.append(data,[arr],axis=0)
        i+=POINTS_NUM_PER_TR
    return data

In [8]:
POINTS_NUM_PER_TR = 500

df = pd.read_csv('./data/all.csv')

NUM_TR = int(len(df)/POINTS_NUM_PER_TR)

In [9]:
NUM_TR

2097

In [61]:
data = df2array(df)

In [35]:
N = 10
L = []
for i in range(len(data)):
    count = 0
    x = data[i][:500]
    y = data[i][500:]
    last_vector = [x[1]-x[0],y[1]-y[0]]
    for j in range(2,500):
        now_vector = [x[j]-x[j-1],y[j]-y[j-1]]
        if np.dot(last_vector,now_vector) < 0:
            count = count + 1
            if count > N:
                break
        last_vector = now_vector
    if count <= N:
        L.append(i)

In [81]:
ids = list(df['person_id'])

In [87]:
TF = []
for i in range(len(ids)):
    TF.append(ids[i] in L)

In [89]:
df[TF]

         person_id       x       y
500              1   1.239   8.618
501              1   1.256   8.578
502              1   1.261   8.494
503              1   1.243   8.406
504              1   1.228   8.297
...            ...     ...     ...
1046995       2093  44.402 -18.779
1046996       2093  44.493 -18.837
1046997       2093  44.612 -18.882
1046998       2093  44.722 -18.913
1046999       2093  44.892 -18.919

[274500 rows x 3 columns]

In [90]:
clean_df = df[TF]

In [92]:
df[:5]

   person_id       x       y
0          0  46.619 -22.899
1          0  46.590 -22.877
2          0  46.528 -22.829
3          0  46.483 -22.810
4          0  46.460 -22.821

In [99]:
df1= clean_df[:183*500]

In [100]:
df2 = clean_df[183*500:183*500+183*500]

In [101]:
df3 = clean_df[183*500+183*500: 183*500+183*500+183*500]

In [102]:
df1.to_csv('clean_node1.csv')

In [103]:
df2.to_csv('clean_node2.csv')

In [104]:
df3.to_csv('clean_node3.csv')